/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  padding: 3% 15%;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #000;
}

.nav a {
  margin-right: 20px;
}

.users-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-box a {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.user-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #000;
  padding: 20px;
  width: 100%;
}

.username {
  font-size: 22px;
  font-weight: 600;
}

.user-post-counter {
  font-size: 14px;
}

.user-photo {
  width: 4rem;
  margin-right: 30px;
  border: 2px solid #000;
}

.user-photo img {
  width: 100%;
}

.user-bio {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  border: 2px solid #000;
  margin: 30px 0;
}

.each-post {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid #000;
  margin: 20px 0;
}

.post-comments-likes {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.see-all-posts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.see-all-posts button {
  background-color: #fff;
  padding: 5px 10px;
}

.user-post {
  display: flex;
  flex-direction: column;
}

.comment-box {
  padding: 20px;
  margin: 10px 0;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
}

.each-comment {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.individual-post-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid #000;
}

.post-top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
}

.form input[type="text"],
textarea {
  border: 3px solid #000;
  margin-bottom: 10px;
  padding: 5px;
  width: 80%;
}

.form input[type="submit"] {
  background-color: #fff;
  border: 3px solid #000;
  margin-bottom: 10px;
  padding: 10px;
  width: 40%;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.like-post {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.like-post input[type="submit"] {
  margin-left: 15px;
  background-color: white;
  border: 3px solid #000;
  padding: 5px;
}

.add-comment {
  display: flex;
  margin: 15px 0;
}

.add-comment-button {
  background-color: #fff;
  border: 3px solid #000;
  padding: 5px;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5% 0;
}

.sign-up-form input[type="text"],
.sign-up-form input[type="password"],
.sign-up-form input[type="email"],
.sign-up-form button {
  border: 3px solid #000;
  margin-bottom: 10px;
  padding: 5px;
  width: 40%;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"],
.login-form button {
  border: 3px solid #000;
  margin-bottom: 10px;
  padding: 15px;
  width: 70%;
}

.login-button {
  border: 3px solid #000;
  margin: 20px 0;
  padding: 15px;
  background-color: #fff;
  width: 72.5%;
}
